<% if user_signed_in? %>

  <!-- Display current Data and navigation -->
  <div class="row">
    <div class="col-md-4">
      <button class="glyphicon glyphicon-chevron-left naviagtion_month pull-right" id="left_btn"></button>
    </div>
    <div class="col-md-4 text-center" id="month_name">
      <p id="current_month"></p>
    </div>
    <div class="col-md-4">
      <button class="glyphicon glyphicon-chevron-right naviagtion_month" id="right_btn"></button>
    </div>
  </div>
  <div>
    <h5 class="text-center" id="date_today"></h5>
  </div>

  
  <table class="table table-bordered text-center" id="prom-table">
    <tbody id="table_body">
     <% @i = 0 %>
     <% @promises.each do |promise| %>
         <% @i+=1 %>
         <tr id="promise_number_<%= @i %>">
         
           <td class="promise"><%= promise.title %>
           <%= link_to "", edit_promise_path(promise), class: "glyphicon glyphicon-edit" %>
           <%= link_to "", promise_path(promise), method: :delete, data: { confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash" %>
            <script>
               alert(month_on_page);
             </script>
           
           </td>
           
            
           
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render 'layouts/static_landing_page' %>





<% end %>


